

body
{
  background-color: #FBF8F1;
}

h2
{
  font-family: 'Oooh Baby', cursive;
  text-align: center;
}


.overtop
{
  background-color: #FBF8F1;
  height: 50px;

}

.style
{
  background-color: #F7ECDE;
}

.NavLabel
{
  width: 90%;

}

.navbar-brand
{
  padding:0 0 0 2rem;
  font-family: 'Oooh Baby', cursive;
  font-size: 24px;
  font-weight: 700;
}

.nav-item
{
  padding: 0 1rem 0 1rem;
  font-family: 'Oooh Baby', cursive;
  font-size: 24px;
  font-weight: 700;
}

.Rollenbg
{
  width: 100%;
}


.middle
{
  height: 40rem;

}

.firstrow
{
  padding-top: 3rem;
}

.Label
{
  display:block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;

}



.bottom
{
  height: 5rem;
  text-align: center;

}

.under
{
  text-align: center;
}

.btn-outline-secondary
{
  font-family: 'Architects Daughter', cursive;
}

.HoldPic
{
  padding-top: 3rem;
}
